.button {
    font: bold 11px Arial; /* Change everything - Pedro */
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    align-items: center;
    padding: 25px 6px 2px 6px;
  }